    <div class="panel panel-default z-depth-1">
      <div class="panel-heading" style="background-color:#f2f2f2">
        Description
      </div>
      <div class="panel-body"style="background-color:rgba(204, 234, 255, 0.7);">

        <%= @vehicle.description.html_safe %>
    
   
      </div>
      <div class="panel-footer" style="background-color:#f2f2f2">
      </div>
    </div>
