<% if @vehicle.import == "import" %>
<div class="features_panel_old">
  <center>
  <% if @vehicle.other_options %>
  <%= @vehicle.other_options.html_safe%>
  </center>
  <% end %>
</div>
<% else %>
<div class="features_panel" id="features" >
  <% if @vehicle.other_options %>
  <center>
  <%= @vehicle.other_options.html_safe%>
  </center>
  <% end %>
</div>
<% end %>