<div class="row" id="dashboard-row" >
	<div class="col-xs-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					<h6>Top Cities
					Last 30 days</h6>
				</div>
			</div>
			<div class="panel-body" style="padding:0 .5vmin 0 .5vmin;">
				<div id="chart-3-container"></div>
				<div class="view-selector" id="view-selector-3-container"></div>
			</div>
			<div class="panel-footer">
			</div>
		</div>
	</div>
	<div class="col-xs-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					<h6>Sessions
					Last 30 days</h6>
				</div>
			</div>
			<div class="panel-body" style="padding:0 1vmin 0 1vmin;">
				<div id="chart-container"></div>
				<div class="view-selector" id="view-selector-container"></div>
			</div>
			<div class="panel-footer">
			</div>
		</div>
	</div>
</div>
<div class="row" id="dashboard-row" >
	<div class="col-xs-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					<h6>Top Cities
					Last 30 days</h6>
				</div>
			</div>
			<div class="panel-body" style="padding:0 .5vmin 0 .5vmin;">
				<div id="chart-2-container"></div>
				<div class="view-selector" id="view-selector-2-container"></div>
			</div>
			<div class="panel-footer">
			</div>
		</div>
	</div>
	<div class="col-xs-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h6 style="float:right;">Click a Browser</h6>
				<div class="panel-title">
					<h6>Browser Distribution</h6>
				</div>
			</div>
			<div class="panel-body" style="padding:0 .5vmin 0 .5vmin;">
				<div class="view-selector"  id="view-selector-container-3"></div>
				<div id="main-chart-container" style="width:48%; float:left;"></div>
				<div id="breakdown-chart-container" style="width:48%; float:right;"> </div>
			</div>
			<div class="panel-footer">
			</div>
		</div>
	</div>
</div>