<div id="most_viewed"><%= render 'admin/modals/most_viewed' %></div>
<div id="sale_tile"></div>
<div id="sold_tile"></div>
<div id="pending_tile"></div>
<div id="contact_messages"><%= render 'admin/modals/contact_messages' %></div>