<button class="close btn" id="closebtn-most" style="z-index:100000!important; display:none; position:absolute!important; top:0!important; right:0!important; background-color: white!important; opacity:1!important; color:black!important; border:1px solid #ddd; width:50px!important; margin-bottom:5px;" onclick="modal_toggle_btn();">×</button>
<button class="close btn" id="closebtn-sale" style="z-index:100000!important; display:none; position:absolute!important; top:0!important; right:0!important; background-color: white!important; opacity:1!important; color:black!important; border:1px solid #ddd; width:50px!important; margin-bottom:5px;" onclick="sale_toggle_btn();">×</button>
<button class="close btn" id="closebtn-pending" style="z-index:100000!important; display:none; position:absolute!important; top:0!important; right:0!important; background-color: white!important; opacity:1!important; color:black!important; border:1px solid #ddd; width:50px!important; margin-bottom:5px;" onclick="pending_toggle_btn();">×</button>
<button class="close btn" id="closebtn-sold" style="z-index:100000!important; display:none; position:absolute!important; top:0!important; right:0!important; background-color: white!important; opacity:1!important; color:black!important; border:1px solid #ddd; width:50px!important; margin-bottom:5px;" onclick="sold_toggle_btn();">×</button>
<script>
function modal_toggle_btn(){
$('#most_viewed_modal').modal('toggle');
$('#closebtn-most').hide();
}
function sale_toggle_btn(){
$('#sale_modal').modal('toggle');
$('#closebtn-sale').hide();
}
function pending_toggle_btn(){
$('#pending_modal').modal('toggle');
$('#closebtn-pending').hide();
}
function sold_toggle_btn(){
$('#sold_modal').modal('toggle');
$('#closebtn-sold').hide();
}
</script>