/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*


*/
/* line 17, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
html, body {
  overflow-x: hidden !important;
}

/* line 20, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
*:hover {
  text-decoration: none !important;
}

/* line 23, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
body {
  font: bold 16px sans-serif;
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
}

/* line 29, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
main {
  flex: 1 0 auto !important;
}

/* line 32, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.header-phone-btn {
  display: none;
}

/* line 35, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
li a {
  color: #5383d3 !important;
}

/* line 38, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
li a:hover {
  color: #fff !important;
  text-decoration: none !important;
}

/* line 42, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.brand-logo img {
  max-height: 54px !important;
  margin-top: -5.2px !important;
  border-radius: 15% !important;
}

/* line 47, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
nav {
  background-color: #292c2f !important;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold sans-serif !important;
}
/* line 54, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
nav .dropbdown-btn {
  font: bold sans-serif !important;
}

/* line 58, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.our-info-box {
  color: #fff !important;
  background-color: #292c2f !important;
}
/* line 59, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.our-info-box tr {
  border: none !important;
}
/* line 62, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.our-info-box a {
  color: #fff !important;
}
/* line 65, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.our-info-box i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
/* line 77, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.our-info-box p {
  margin-top: 15px;
}

@media only screen and (max-width: 992px) {
  /* line 84, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
  *, h4 {
    font-family: sans-serif;
  }

  /* line 85, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
  nav .brand-logo {
    float: right !important;
    left: 41rem !important;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }

  /* line 93, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
  nav .brand-logo.left, nav .brand-logo.right {
    padding: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }

  /* line 100, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
  nav .brand-logo.left {
    float: right !important;
    right: 0.5rem !important;
  }

  /* line 103, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
  nav .brand-logo.right {
    right: 0.5rem;
    float: right !important;
    left: auto;
  }
}
/* line 109, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.container {
  margin-top: 83px !important;
  width: 100% !important;
}

/* line 113, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
footer.page-footer {
  margin-top: -2px !important;
}

/* line 116, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
main {
  background-color: #ededf6;
}

/* line 119, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.footer-distributed {
  bottom: 0;
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}
/* line 120, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.footer-distributed a {
  color: white !important;
}

/* line 130, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */
/* line 137, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */
/* line 141, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

/* line 146, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.footer-distributed h3 span {
  color: #5383d3;
}

/* Footer links */
/* line 150, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

/* line 155, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

/* line 161, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */
/* line 168, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.footer-distributed .footer-center {
  width: 35%;
}

/* line 171, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

/* line 183, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

/* line 187, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

/* line 193, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

/* line 199, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
}

/* Footer Right */
/* line 204, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.footer-distributed .footer-right {
  width: 20%;
}

/* line 207, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

/* line 214, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* line 221, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.footer-distributed .footer-icons {
  margin-top: 25px;
}

/* line 224, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 880px) {
  /* line 240, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
  .col-left {
    width: 98 !important;
  }

  /* line 241, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
  .our-info-box {
    display: none !important;
  }

  /* line 244, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
  .container {
    margin-top: 68px !important;
  }

  /* line 247, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  /* line 250, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  /* line 258, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
/* line 262, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.card-title {
  border-radius: 6%;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 266, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.card {
  border-radius: 1% !important;
}

/* line 269, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.hours {
  margin-top: 5px;
  border-top-right-radius: 5% !important;
  border-top-left-radius: 5% !important;
}
/* line 270, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.hours .panel-heading {
  color: white !important;
  background-color: #292c2f !important;
}

/* line 277, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.sumome-share-client-share:last-child {
  display: none !important;
}

/* line 280, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
#header-img {
  margin: -.5px 0 0 4px;
  position: absolute !important;
  float: left;
}
/* line 284, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
#header-img img {
  -webkit-box-shadow: 0px 0px 2.5px 1.5px rgba(83, 131, 211, 0.9);
  -moz-box-shadow: 0px 0px 2.5px 1.5px rgba(83, 131, 211, 0.9);
  box-shadow: 0px 0px 2.5px 1.5px rgba(83, 131, 211, 0.9);
  border-radius: 12% !important;
  max-width: 60px !important;
}
/* line 290, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
#header-img .bbb {
  width: 100% !important;
  z-index: 100px !important;
}

/* line 295, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.sumome-welcomemat-action-link, .sumome-welcomemat-image {
  display: none !important;
  background-color: blue !important;
}

/* line 299, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.sumome-welcomemat-image {
  display: none !important;
  visibility: hidden !important;
}

/* line 303, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.button-collapse {
  float: right !important;
  margin-right: 4px;
}

/* line 307, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.material-icons:hover {
  text-decoration: none !important;
}

/* line 309, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.deals-blue {
  color: #111 !important;
  background-color: #5383d3 !important;
}

/* line 313, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.caret {
  margin-left: 8px !important;
}

/* line 316, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.directions-frame {
  margin: 0.75% !important;
}

/* line 319, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.card-image {
  padding: 1.6% !important;
  background-color: #292c2f;
}

/* line 323, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.card-content {
  padding: 1.5rem !important;
  padding-top: 0.3rem !important;
  padding-bottom: 0.2rem !important;
}
/* line 327, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.card-content h4 {
  margin-left: -0.5rem !important;
  font-family: 'Cookie', cursive !important;
}

/* line 332, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.card-front {
  border: 0.7px solid #AAA;
}

/* line 334, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.sign {
  float: left;
  width: 25%;
  height: inherit;
  max-height: 706px;
}

/* line 340, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.location {
  float: right;
  width: 75%;
  max-height: 706px;
}

/* line 345, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.paper {
  font: normal 12px/1.5 "Lucida Grande", arial, sans-serif;
  margin: 0 auto;
  padding: 6px 5px 4px 42px;
  color: #444;
  line-height: 20px;
  border: 1px solid #d2d2d2;
  background: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
  background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  -webkit-background-size: 100% 20px;
  -moz-background-size: 100% 20px;
  -ms-background-size: 100% 20px;
  -o-background-size: 100% 20px;
  background-size: 100% 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}

/* line 371, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.paper::before {
  content: '';
  position: absolute;
  width: 4px;
  top: 0;
  left: 30px;
  bottom: 0;
  border: 1px solid;
  border-color: transparent #efe4e4;
}

/* line 381, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.card-action {
  padding-top: 0.2em !important;
  padding-bottom: 0.2em !important;
  margin-top: 1px !important;
  text-align: center !important;
  background-color: #292c2f !important;
  color: #5383d3;
}

/* line 389, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 90%;
  overflow: hidden;
}

/* line 395, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.google-maps iframe {
  position: absolute;
  left: 0;
  width: 98.5% !important;
  height: 93% !important;
}

/* line 401, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.panel-directions {
  color: white;
  background-color: #292c2f !important;
}

/* line 405, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
#blue {
  color: #5383d3 !important;
}

/* line 408, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.blue-btn {
  background-color: #5383D3 !important;
  color: #292c2f !important;
  text-transform: none !important;
}

/* line 413, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
nav {
  z-index: 1000;
  position: fixed !important;
}

/* line 418, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.dropdown-menu li {
  width: 100% !important;
}

/* line 421, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.btn-vehicles {
  font-size: 1.15em !important;
  color: #292c2f !important;
}

/* line 425, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.panel-default {
  margin-bottom: 1.6rem !important;
}

/* line 428, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
#seeus {
  padding-top: 0.5rem !important;
}

/* line 431, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
a.button-collapse {
  padding-right: 5px !important;
}

/* line 434, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.material-icons:hover, .material-icons:visited, .material-icons:link {
  text-decoration: none !important;
  color: white !important;
}

/* line 438, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.material-icons:active {
  text-decoration: none !important;
}

/* line 441, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.inner-side-menu, .inner-side-menu-div {
  margin-left: 0.8rem !important;
  margin-top: -10px !important;
  margin-bottom: -10px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* line 448, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.hidden {
  display: none;
}

/* line 449, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.contact-sub-btn {
  margin-left: 7.5% !important;
  margin-right: 7.5% !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  width: 85% !important;
  text-align: center !important;
  font-size: 1.3rem !important;
}

/* line 458, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.string.required.control-label, .email.required.control-label, .text.required.control-label {
  display: none !important;
}

/* line 461, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.contact-form {
  padding-left: 2.25rem !important;
  padding-right: 2.25rem !important;
}

/* line 465, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
#contactus-form {
  margin: auto !important;
  margin-bottom: 2% !important;
}
/* line 466, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
#contactus-form label {
  display: none !important;
  visibility: hidden !important;
}
/* line 472, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
#contactus-form .panel-heading, #contactus-form .panel-title, #contactus-form h5 {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
/* line 476, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
#contactus-form label.active {
  color: #428bca;
}
/* line 479, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
#contactus-form input[type=text]:focus,
#contactus-form input[type=email]:focus,
#contactus-form input[type=tel]:focus {
  border-bottom: 1px solid #428bca;
  box-shadow: 0 1px 0 0 #428bca;
  margin-top: -0.2rem !important;
  margin-bottom: 1.5rem !important;
}
/* line 487, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
#contactus-form .input-field .prefix.active {
  color: #428bca;
}

/* line 491, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
#new_contact > div.contact-form > div.form-group.string.optional.contact_tel > label {
  display: none !important;
}

/* line 494, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.panel-black {
  color: #5383d3 !important;
  background-color: #292c2f !important;
}

/* line 498, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.col-left {
  float: left !important;
  width: 65% !important;
}

/* line 502, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.col-right {
  float: right !important;
  width: 35% !important;
}

/* line 506, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.loading-screen {
  display: none !important;
  visibility: hidden !important;
}

@media (max-width: 600px) {
  /* line 511, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
  .textarea:focus, .textarea:active, .textarea:hover {
    border: 1px solid #428bca !important;
    box-shadow: 0 1px 0 0 #428bca !important;
  }

  /* line 515, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
  #contactus-form {
    padding: 0.1rem !important;
  }
  /* line 517, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
  #contactus-form h3, #contactus-form .panel-heading {
    padding-left: 0.1rem !important;
  }

  /* line 519, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
  .header-phone-btn {
    float: right;
    display: inline;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  /* line 525, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
  #contact_name, #contact_email, #contact_tel, .col-left {
    width: 100% !important;
  }
}
@media (max-width: 910px) {
  /* line 530, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
  #contact_name, #contact_email, #contact_tel, .col-left {
    width: 100% !important;
  }

  /* line 533, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
  .container, .main-container {
    padding-right: 0px !important;
    padding-left: 0px !important;
    width: 100% !important;
  }
  /* line 537, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
  .container footer, .main-container footer {
    border-top: 2px inset white;
  }

  /* line 542, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
  #header-img img {
    max-width: 3.2em !important;
  }

  /* line 546, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
  .header-phone-btn {
    float: right;
    display: block;
    height: 100%;
    margin: 0 auto;
    margin-right: 10px;
  }

  /* line 553, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
  .header-phone-btn:hover, .header-phone-btn:visited {
    text-decoration: none !important;
  }

  /* line 555, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
  .contact-form {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  /* line 556, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
  .contact-form #contact_name, .contact-form #contact_email, .contact-form #contact_tel, .contact-form .col-left {
    width: 100% !important;
    float: none !important;
  }
}
/* line 564, /home/sites/Rails-DealsUnlimited/app/assets/images/application.scss */
.input[type=email].label {
  display: none !important;
  visibility: hidden !important;
}
