<div class="" id="loading-screen" style="  padding:0!important; background-color:rgba(0,0,0,.8); width:100%!important; height:100%!important; position:absolute!important;  z-index:99999 ">
	<div class="row">
		<div class="col-xs-3">
		</div>
		<div class="col-xs-6">
			<div style="width:95%;height:100%; background-color:rgba(100,100,100,0.7); margin-top: 20%; padding-top:3%!important; border-radius:2vmin;">
				<div class="panel panel-default z-depth-2" style="width:96%; height:99%; margin-left:2%; margin-right:w%;">
					<div class="panel-heading" style="padding:.1vmin 0 .1vmin 2vmin!important; background-color:#ddd;">
						<div class="panel-title " >
							<h5 style="font-family:'Cookie';  font-size:5.3vmin; color:#5383d3;">Loading... </h5>
						</div>
					</div>
					<div class="panel-body">
						<div class="progress progress-bar progress-bar-striped active" style="height:50px!important; border-radius:4vmin;">
							<div class="progress-bar info progress-bar-striped active" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: auto">
								<h5 id="percent-tag" class="" style="color:white; background-color:#5384d3;">0%</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-xs-3">
		</div>
	</div>
</div>
<style>
	#loading-screen{display:none;}
</style>
<script>
	
</script>