<div class="container">
	<div class="row">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-8">
			<div class="panel panel-default">
				<div class="panel-heading panel-black">
					<div class="panel-title">
						<h4>Forgot your password?</h4>
					</div>
				</div>
				<div class="panel-body">
					<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
					<%= f.error_notification %>
					<div class="form-inputs">
						<p></p>
						<p></p>
						<p> What is your email address?</p>
						<p></p>
						<%= f.input :email, required: true, autofocus: true, :placeholder=>"Email" %>
						<p></p>
					</div>
					
				</div>
				<div class="panel-footer panel-black">
					<div class="form-actions">
						<%= f.button :submit, "Send me reset password instructions",:class=>"blue",:style=>"width:100%; color:black; background-color:#5383D3 !important" %>
					</div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-sm-2">
		</div>
	</div>
</div>
<style>
label{display: none!important;}
footer{display: none!important;}
.panel-title, .panel-heading{margin:0!important;}
.panel-title h4{margin:0!important;}
</style>