<div class="container ">

<div class="panel panel-default ">
	<div class="google-maps">
		<!-- Default panel contents -->
		<div class="panel-heading panel-directions mobile-panel"><h5>Directions<a style="float:right"href="tel:2693244285"id="blue">(269)-324-4285</a></h5>
		
	</div>
	<iframe class ="directions-frame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2956.121332926898!2d-85.56337834876355!3d42.19047315368438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88179e5544b87a95%3A0xd2a631e35ca7f10f!2sDeals+Unlimited+Inc.!5e0!3m2!1sen!2sus!4v1446893985852" width="100%"  height:"100%" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<div class = "panel-footer panel-black"></div>
</div>
</div>