<div class="container ">
	<div class="row">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-10">
			<div class="panel panel-default z-depth-4">
				<div class="">
					<!-- Default panel contents -->
					<div class="panel-heading panel-directions mobile-panel">
						<h5>Financing<a style="float:right"href="tel:2693244285"id="blue">269-324-4285</a>
						</h5>
					</div>
					<div  style="padding:3rem!important;">
						<p style="text-align: center;">
							<span style="font-family: courier new, courier; font-size: xx-large;">
								<a href="/credit-application" title="Deals Unlimited Credit Application">
									<img style="border-radius:2.5%;" src="https://www.dealsunlimitedinc.com/sites/default/files/public/credit-application-icon.png" alt="Credit Application" title="Credit Application" width="40%" >
								</a>
								<a href="/policy">
									<img style="border-radius:2.5%;" src="https://www.dealsunlimitedinc.com/sites/default/files/public/privacy-statement-icon.png" alt="Privacy Statement" title="Privacy Statement" width="40%" >
								</a>
							</span>
							
						</p>
						<p style="text-align: center;">
							<div class="alert alert-danger" style="font-family: 'arial black', 'avant garde'; font-size:1.8vmin!important;">WE DO NOT OFFER BAD CREDIT, SPECIAL FINANCING OR BUY HERE/PAY HERE IN HOUSE FINANCING</div>
						</p>
						<p style="text-align: center;">
							<div class="alert alert-success" style="font-family: 'arial black', 'avant garde';font-size:1.8vmin!important;">
								WE NOW OFFER OUT OF STATE FINANCING ON QUALIFIED VEHICLES FOR THE FOLLOWING STATES:
								<ul style="font-size:1.5vmin!important; padding-left:1vmin!important;">
									<li>INDIANA</li>
									<li>OHIO</li>
									<li>ILLINOIS</li> <li>PENNSYLVANIA</li>
									<li>WEST VIRGINIA</li>
									<li>KENTUCKY</li>
									<li>MINNESOTA</li>
									<li>WISCONSIN</li>
									<li>IOWA</li>
									<li>KENTUCKY</li>
								</ul>
							</div>
						</p>
						<div class="jumbotron">
							<p>
								At Deals Unlimited we offer Traditional Financing Options through Local Credit Unions,as well as a couple of Banks, that service Customers within the South West Michigan Area and entire Midwest region on qualifying vehicles.
							</p>
							<ul style="padding-left:1vmin!important;">
								<li>Kalsee</li>
								<li>Consumers</li>
								<li>Advia</li>
								<li>United Bay</li>
								<li>Post</li>
								<li>Chemical Bank</li>
								<li>Merit First Bank</li>
							</ul>
						</div>
						<div class="jumbotron">
							<p>
								We make applying for an Auto Loan Online Fast, Easy and Secure.
								Simply fill out our <%= link_to  "Secure Online Application",'credits' %> and a member of our Sales Staff will contact you to help you take the next step toward the purchase of your desired Truck, SUV, Van or Auto.
							</p>
						</div>
						<div class="alert alert-info" style="font-size:1.7vmin!important;">If you have further Finance questions, please contact Bill Smith at (269) 324-4285
						</div>
					</div>
				</div>
				<div class="panel-footer" style="background-color:#292c2f !important;">
				</div>
			</div>
		</div>
		<div class="col-sm-1">
		</div>
	</div>
</div>