<div class="container ">

<div class="panel panel-default ">
	<div class="">
		<!-- Default panel contents -->
		<div class="panel-heading panel-directions mobile-panel"><h5>Financing<a style="float:right"href="tel:2693244285"id="blue">269-324-4285</a></h5>
	</div>
	<div  style="padding:3rem!important;">
		<p style="text-align: center;">
			<span style="font-family: courier new, courier; font-size: xx-large;">
				<a href="/credit-application" title="Deals Unlimited Credit Application">
					<img style="border-radius:2.5%;" src="https://www.dealsunlimitedinc.com/sites/default/files/public/credit-application-icon.png" alt="Credit Application" title="Credit Application" width="40%" >
				</a>
				<a href="/policy">
					<img style="border-radius:2.5%;" src="https://www.dealsunlimitedinc.com/sites/default/files/public/privacy-statement-icon.png" alt="Privacy Statement" title="Privacy Statement" width="40%" >
				</a>
			</span>
			
		</p>
		<p style="text-align: center;"><span style="font-size: x-large; color: #000;"><strong><span style="font-family: 'arial black', 'avant garde';">***WE <span style="text-decoration: underline;">DO NOT</span> OFFER BAD CREDIT, SPECIAL FINANCING</span>
		</strong>
	</span>
</p>
<p style="text-align: center;"><span style="font-size: x-large; color: #000;"><strong><span style="font-family: 'arial black', 'avant garde';"> OR BUY HERE/PAY HERE IN HOUSE FINANCING***</span></strong>
</span>
</p>
<p style="text-align: center;"><span style="font-size: x-large; color: #000;"><strong><span style="font-family: 'arial black', 'avant garde';"><br></span></strong>
</span>
</p>
<p style="text-align: center;"><span style="font-size: x-large; color: #ff6600;"><strong><span style="font-family: 'arial black', 'avant garde';">***WE NOW OFFER OUT OF STATE FINANCING ON QUALIFIED VEHICLES FOR THE FOLLOWING STATES: &nbsp;INDIANA, OHIO, ILLINOIS, PENNSYLVANIA, WEST VIRGINIA, KENTUCKY, MINNESOTA, WISCONSIN, IOWA, AND KENTUCKY.***</span></strong>
</span>
</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;"><span style="color: #000;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="color: #000;"><strong><span style="font-family: 'courier new', courier; font-size: large;">At Deals Unlimited we offer Traditional Financing Options through Local Credit Unions ( Kalsee, Consumers, Advia, United Bay, and Post ) as well as a couple of Banks ( Chemical and Merit First Bank ) that service Customers within the South West Michigan Area as well as the entire Midwest region on qualifying vehicles.</span></strong>
</span>
</p>
<p style="text-align: justify;"><span style="color: #000;"><strong><span style="font-family: 'courier new', courier; font-size: large;">&nbsp;</span></strong>
</span>
</p>
<p style="text-align: justify;"><span style="color: #000;"><strong><span style="font-family: 'courier new', courier; font-size: large;">We make applying for an Auto Loan Online Fast, Easy and Secure.&nbsp; Simply fill out our Secure Online Application and a member of our Sales Staff will contact you to help you take the next step toward the purchase of your desired Truck, SUV, Van or Auto.</span></strong>
</span>
</p>
<p style="text-align: justify;"><span style="color: #000;"><strong><span style="font-family: 'courier new', courier; font-size: large;">&nbsp;</span></strong>
</span>
</p>
<p style="text-align: justify;"><span style="color: #000; font-size: x-large;"><strong><span style="font-family: 'courier new', courier;">If you have further Finance questions, please contact Bill Smith at (269) 324-4285</span></strong>
</span>
</p>
</div>

</div>
</div>
</div>