<div class="container">
	<div class="row">
		<div class="col-xs-1">
		</div>
		<div class="col-xs-10">
			<div class="panel panel-default z-depth-4" style="border-color:#777;">
				<div class="panel-heading panel-black" id="meet-heading">
					<div class="panel-title" id="meet-title">
						<h5>Meet the Staff!
						</h5>
					</div>
				</div>
				<div class="panel-body">
				</div>
				<div class="panel-footer panel-black">
				</div>
			</div>
		</div>
		<div class="col-xs-1">
		</div>
	</div>
</div>
<style>
#meet-title, #meet-title h5{margin:0!important;}
#meet-heading{}
</style>