<div class = "container" id="homepage">
	<div class="row">
		<div class="col-lg-8">
			<div class="card card-front panel-default z-depth-4">
				<div class="card-image" style="padding:0!important;">
					<%= image_tag "Location_Sign.png"%>
				</div>
				<div class="card-content">
					<h5 id="welcome">Welcome to</h5>
					<center>
					<h5 id ="deals">
					Deals
					<span id="unlimited" >Unlimited,
						<span style="font-size:2.5rem; font-family: 'Black Ops One', cursive!important; color:#333!important;"> Inc.
						</span>
					</span>
					</h5>
					<p  id="greeting">
						We have been serving south west michigan since 1988. Our focus is on customer service and creating life long customer relationships. Deals Unlimited prides itself on its integrity, loyality, professionalism and low pressure sales experience.
					</p>
					<p style="font-family: 'Black Ops One', cursive; font-size:1.7rem;"id="seeus">Come see us today!</p>
					</center>
				</div>
				<div class="card-action" id= "welcome-panel-footer">
					<span id="serving" >Serving West Michigan since 1988.</span>
				</div>
			</div>
		</div>
		<%= render "layouts/application/directions" %>
		<%= render "layouts/application/hours" %>
	</div>
</div>
<style>
*{font-size: 1.2rem;}
#unlimited{
	font-family: 'Cookie', cursive !important;
	font-size: 4.3rem!important;
	color: #5383D3 !important;
}
#greeting{
	font-style: cursive;
	font-size:3.3vmin!important;
}
#serving{font-size:1.8rem;}
#deals{font-family: 'Black Ops One', cursive; font-size:3.3rem;}
#welcome{font-family: 'Black Ops One', cursive;  font-size:1.6rem;}
.loading-screen{visibility: visible !important;}
@media only screen and (max-width : 500px) {
	#homepage table tr td, #homepage table th{font-size:3vmin!important;}
	#welcome-panel-footer{display: none!important;}
	.panel-heading a, .panel-heading{
		font-size:3.3vmin!important;
	}
#serving{font-size:4.2vmin!important;}
#seeus{
	color: #5383D3 !important;
	font-family: 'Cookie' !important;
	font-weight:normal!important;
	font-size:3.3rem!important;
}
#unlimited{
font-family: 'Cookie', cursive !important;
font-size: 3.5rem!important;
color: #5383D3 !important;
}
#deals{font-family: 'Black Ops One', cursive; font-size:2.5rem;}
#welcome{font-family: 'Black Ops One', cursive;  font-size:1.2rem;}
}
</style>