<div class = "container" id="homepage">
	<div class="row">
		<div class="col-lg-8">
			<div class="card card-front panel-default z-depth-4">
				<div class="card-image" style="padding:0!important;">
					<%= image_tag "https://res.cloudinary.com/dodczwtee/image/upload/v1449894856/Location_Sign_vq1c7q.png"%>
				</div>
				<div class="card-content">
					<h5 id="welcome">Welcome to</h5>
					<center>
					<h5 id ="deals">
					Deals
					<span id="unlimited" >Unlimited,
						<span id ="inc"> Inc.</span>
					</span>
					</h5>
					<p  id="greeting">We have been serving south west michigan since 1988. Our focus is on customer service and creating life long customer relationships. Deals Unlimited prides itself on its integrity, loyality, professionalism and low pressure sales experience.</p>
					<p style="font-family: 'Black Ops One', cursive; font-size:1.7rem;"id="seeus">Come see us today!</p>
					</center>
				</div>
				<div class="card-action" id= "welcome-panel-footer">
					<span id="serving" >Serving West Michigan since 1988.</span>
				</div>
			</div>
		</div>
		<%= render "layouts/application/directions" %>
		<%= render "layouts/application/hours" %>
	</div>
</div>

<style>
footer, .footer-distributed{display: inline-block!important;}
</style>
