<% if notice %>
<div class="alert alert-success">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<strong><%= notice %></strong>
</div>
<% end %>
<% if alert %>
<div class="alert alert-error"><p><%= alert %></p></div>
<% end %>
<% if alert %>
<div class="alert alert-error"><p><%= alert %></p></div>
<% end %>