<div class="container" style="width:100%!important;bottom:0; position:absolute;left:0; right:0; z-index:10001!important; ">
  <div class="footer-vehicles" style="width:100%!important; position:absolute;left:0; right:0; padding:1rem;">
    <h4 style="font-family: 'Black Ops One', cursive!important;">
    Deals
    <span style="color: rgb(83, 131, 211)!important;"id="unlimited">Unlimited,
      <span style="font-size:2.75vmin; font-family: 'Black Ops One', cursive!important;color:white!important;"> Inc.
      </span>
    </span>
    </h4>
    <h5 style="font-size:2.75vmin;">269-324-4285</h5>
  </div>
</div>