<footer class="footer-distributed">
  <div class="footer-left">
    <h5 style="font-family: 'Black Ops One', cursive; font-size:2.6rem; color:white!important;">
    Deals
    <span style="color: rgb(83, 131, 211)!important; font-size:3.3rem; font-family:  'Cookie', cursive!important;">Unlimited,
      <span style="font-size:2rem; font-family: 'Black Ops One', cursive!important;color:white!important;">Inc.
      </span>
    </span>
    </h5>
    <p class="footer-links" style="font-size:1.4vmin!important;">
      <a href="/">Home</a>
      ·
      <a href="/finance">Financing</a>
      ·
      <a href="/directions">Get Directions</a>
      .
      <a href="/contact">Contact Us</a>
      ·
      <a href="/policy">Privacy Policy</a>
    </p>
    <p class="footer-company-name" style="margin-top:2.2rem;">Deals Unlimited, Inc. &copy; 1988-2015</p>
  </div>
  <div class="footer-center" style="font-size:1.4vmin!important;">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><a href="directions">8705 Portage Road Portage, MI</a></p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p><a href="tel:269-324-4285">(269)-324-4285</a></p>
    </div>
    <div>
      <i class="fa fa-fax"></i>
      <p><a href="fax:269-324-0067">(269)-324-0067</a></p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="/contact">DealsUnlimitedInc@live.com</a></p>
    </div>
  </div>
  <div class="footer-right">
    <p class="footer-company-about">
      <span style="font-size:1.8rem !important; margin-top:1rem; color: #5383D3 !important; font-family: 'Cookie', cursive!important;">Serving West Michigan since 1988</span>
      Stop by in person, check out our inventory online, or call us today!
    </p>
    <%= link_to("http://www.bbb.org/western-michigan/business-reviews/auto-dealers-used-cars/deals-unlimited-in-portage-mi-14002482#sealclick", html_options = {}) do %>
    <div class="footer-icons">
      <%= image_tag "https://res.cloudinary.com/dodczwtee/image/upload/v1449906859/bbb_pyoiju.png"%>
      <%= image_tag "https://res.cloudinary.com/dodczwtee/image/upload/v1449906855/a_kgumle.png"%>
    </div>
    <% end %>
  </div>
</footer>
<style>
.footer-distributed .footer-links a{
color:#ccc!important;
}
@media (max-width: 880px) {
.footer-distributed .footer-center p a, .footer-distributed .footer-links a{
font-size:2.5vmin!important;
}
.footer-distributed .footer-links a{
color:#ccc!important;
font-weight: normal!important;
font-size:2.7vmin!important;
}
}
@media (max-width: 500px) {
.footer-distributed{
padding: 25px 20px!important;
}
.footer-distributed .footer-center p a, .footer-distributed .footer-links a{
font-size:3.3vmin!important;
}
.footer-company-name{
display: none!important;
}
</style>