<header>
  <nav style="min-height:70px!important;">
    <div class="nav-wrapper z-depth-2">
      <a href="/"><div id="header-img"><%= image_tag "logo2.png"%></div></a>
      <a href="#" data-activates="mobile-demo"  class="button-collapse"><i class="material-icons" >menu</i></a>
      <a class ="header-phone-btn" href="tel:269-324-4285" class="button-collapse"><i class="fa fa-phone"></i></a>
      
      <ul class="right hide-on-med">
        <li>
          <div class="btn-group">
            <a href= "/vehicles"class="btn blue-btn btn-vehicles " data-no-turbolink="true">Vehicles</a>
            
          </div>
        </li>
        <li>
                    <li id="mobileli"><a href="/directions">Directions</a></li>
          <li id="mobileli"><a href="/finance">Financing</a></li>
          <li id="mobileli"><a href="/meet">Meet the Staff</a></li>
          <li id="mobileli"><a href="/testimonials">Testimonials</a></li>
            <li id="mobileli"><a href="/contact">Contact Us</a></li>
        </li>

      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/vehicles">Vehicles</a></li>
        <li><a href="/directions">Directions</a></li>
        <li><a href="/finance">Financing</a></li>
        <li><a href="/meet">Meet the Staff</a></li>
        <li><a href="/testimonials">Testimonials</a></li>
        <ul>
          <li class="divider inner-side-menu-div"></li>
          <li><a class="inner-side-menu" href="/credits">Credit Application</a></li>
          <li><a class="inner-side-menu" href="/policy">Privacy Policy</a></li>
        </ul>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
  </nav>
</header>
<script>
   $(".button-collapse").sideNav();

  $(".dropdown-button").dropdown();

</script>
<style>
@media (max-width: 820px){
#header-img img{
min-width: 59px!important;
}
#header-img{
margin-top: 1vmin!important;
}
.btn-vehicles{
margin-right: 2rem!important;
}
#mobileli{
display:none!important; }
}
#menubtn:hover, #menubtn:active{
text-decoration: none;
}
#dropdown1{
width:100%!important;
}
#menubtn{
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
text-align: center;
border: none;
border-radius: 2px;
display: inline-block;
height: 36px;
font-size: 1rem!important;
line-height: 36px;
outline: 0;
padding: 0 1rem;
text-transform: uppercase;
-webkit-tap-highlight-color: transparent;
margin-left:0.5vmin;
margin-right:0.5vmin;
margin-top: 0!important;
}
#menubtn i{line-height: 36.2px; padding-right:0!important;
}
@media (max-width: 992px){
#menubtn{
display: none!important;
}
}
</style>
<!--header with dropwdown
<header>
  <nav style="min-height:70px!important;">
    <div class="nav-wrapper z-depth-2">
      <a href="/"><div id="header-img"><%= image_tag "logo2.png"%></div></a>
      <a href="#" data-activates="mobile-demo"  class="button-collapse"><i class="material-icons" >menu</i></a>
      <a class ="header-phone-btn" href="tel:269-324-4285" class="button-collapse"><i class="fa fa-phone"></i></a>
      
      <ul class="right hide-on-med">
        <li>
          <div class="btn-group">
            <a href= "/vehicles"class="btn blue-btn btn-vehicles " data-no-turbolink="true">Vehicles</a>
            
          </div>
        </li>
        <li>
          <div class="btn-group">
            <a class="dropdown-button grey" href="#!" id="menubtn" data-beloworigin="true" data-activates="dropdown1">Menu<i class="material-icons right">arrow_drop_down</i></a>
            <li id="mobileli"><a href="/contact">Contact Us</a></li>
          </div>
        </li>
        <ul id='dropdown1' class='dropdown-content  '>
          <li id="mobileli"><a href="/directions">Directions</a></li>
          <li id="mobileli"><a href="/meet">Meet the Staff</a></li>
          <li id="mobileli"><a href="/testimonials">Testimonials</a></li>
          <li id="mobileli"><a href="/finance">Financing</a></li>
        </ul>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/vehicles">Vehicles</a></li>
        <li><a href="/directions">Directions</a></li>
        <li><a href="/finance">Financing</a></li>
        <li><a href="/meet">Meet the Staff</a></li>
        <li><a href="/testimonials">Testimonials</a></li>
        <ul>
          <li class="divider inner-side-menu-div"></li>
          <li><a class="inner-side-menu" href="/credits">Credit Application</a></li>
          <li><a class="inner-side-menu" href="/policy">Privacy Policy</a></li>
        </ul>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
  </nav>
</header>
<style>
@media (max-width: 820px){
#header-img img{
min-width: 59px!important;
}
#header-img{
margin-top: 1vmin!important;
}
.btn-vehicles{
margin-right: 2rem!important;
}
#mobileli{
display:none!important; }
}
#menubtn:hover, #menubtn:active{
text-decoration: none;
}
#dropdown1{
width:100%!important;
}
#menubtn{
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
text-align: center;
border: none;
border-radius: 2px;
display: inline-block;
height: 36px;
font-size: 1rem!important;
line-height: 36px;
outline: 0;
padding: 0 1rem;
text-transform: uppercase;
-webkit-tap-highlight-color: transparent;
margin-left:0.5vmin;
margin-right:0.5vmin;
margin-top: 0!important;
}
#menubtn i{line-height: 36.2px; padding-right:0!important;
}
@media (max-width: 992px){
#menubtn{
display: none!important;
}
}
</style>
-->