
<header>
  <nav>
    <div class="nav-wrapper z-depth-2">
      <a href="/"><div id="header-img"><%= image_tag "logo2.png"%></div></a>
      <a href="#" data-activates="mobile-demo"  class="button-collapse"><i class="material-icons">menu</i></a>
      <a class ="header-phone-btn" href="tel:269-324-4285" class="button-collapse"><i class="fa fa-phone"></i></a>
      <ul class="right hide-on-med-and-down">
        <li>
          <div class="btn-group">
            <a href= "/vehicles"class="btn blue-btn btn-vehicles ">Vehicles</a>
            <button class="btn dropdown-toggle blue-btn" data-toggle="dropdown">
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu ">
              <li><a href="/cars">Cars</a></li>
              <li class="divider"></li>
              <li><a href="/trucks">Trucks</a></li>
              <li class="divider"></li>
              <li><a href="/suvs">SUVs</a></li>
              <li class="divider"></li>
              <li><a href="/vans">Vans</a></li>
            </ul>
          </div>
        </li>
        <li><a href="/directions">Directions</a></li>
        <li><a href="/finance">Financing</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/vehicles">Vehicles</a></li>
        <ul>
          <li class="inner-side-menu"><a href="/cars">Cars</a></li>
          <li class="divider inner-side-menu-div"></li>
          <li class="inner-side-menu"><a href="/trucks">Trucks</a></li>
          <li class="divider inner-side-menu-div"></li>
          <li class="inner-side-menu"><a href="/suvs">SUVs</a></li>
          <li class="divider inner-side-menu-div"></li>
          <li class="inner-side-menu"><a href="/vans">Vans</a></li>
        </ul>
        <li><a href="/directions">Directions</a></li>
        <li><a href="/finance">Financing</a></li>
        <ul>
          <li class="divider inner-side-menu-div"></li>
       <li><a class="inner-side-menu" href="/policy">Privacy Policy</a></li>
        </ul>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
  </nav>
</header>