<header>
  <nav style="min-height:70px!important;">
    <div class="nav-wrapper z-depth-2">
      <a href="/"><div id="header-img"><%= image_tag "http://res.cloudinary.com/dodczwtee/image/upload/v1453263691/favicon_fvm8bn_trrn6z.png"%></div></a>
      <!--User Header -->
      <!--            -->
      <% if !admin_signed_in? %>
      <a href="#" data-activates="mobile-demo"  class="button-collapse"><i class="material-icons" >menu</i></a>
      <a class ="header-phone-btn" href="tel:269-324-4285" class="button-collapse"><i class="material-icons">phone</i></a>
      <ul class="right hide-on-med">
        <li>
          <div class="btn-group">
            <a href= "/vehicles"class="btn blue-btn btn-vehicles waves-effect waves-light" >Vehicles</a>
          </div>
        </li>
        <li>
          <li id="mobileli"><a href="/directions">Directions</a></li>
          <li id="mobileli"><a href="/finance">Financing</a></li>
          <li id="mobileli"><a href="/meet">Meet the Staff</a></li>
          <li id="mobileli"><a href="/testimonials">Testimonials</a></li>
          <li id="mobileli"><a href="/contact">Contact Us</a></li>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo" style="visibility:none!important;">
        <li><a href="/vehicles">Vehicles</a></li>
        <li><a href="/directions">Directions</a></li>
        <li><a href="/finance">Financing</a></li>
        <li><a href="/meet">Meet the Staff</a></li>
        <li><a href="/testimonials">Testimonials</a></li>
        <ul>
          <li class="divider inner-side-menu-div"></li>
          <li><a class="inner-side-menu" href="/credits">Credit Application</a></li>
          <li><a class="inner-side-menu" href="/policy">Privacy Policy</a></li>
        </ul>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
      <% else %>
      <!-- Admin Navigation -->
      <!--                  -->
      <div class="right" style="margin:1.5vmin 0 0 0;">
        <%= link_to('Dashboard', '/admin/dashboard', :class=>"btn grey waves-effect waves-white right", :style=>"  text-transform: none; margin-left:2px; margin-right:2px!important; color:white!important; font-weight:bold;" ,:id=>"logout-btn") %>
        <button type="button" class="btn btn-primary btn-lg right" style="margin:0 2px 0 2px!important; text-transform: none;" data-toggle="modal" data-target="#myModal">Menu</button>
        <a href= "/vehicles"class="btn blue-btn btn-vehicles waves-effect waves-light right" style="margin-right:2px;">Vehicles</a>
      </div>
      <% end %>
    </div>
  </nav>
</header>
<% if admin_signed_in? %>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="position:absolute!important; left:0!important;  right:0!important;  top:0!important;  bottom:0!important; min-height:100%!important; width:100%!important; background:none!important;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Navigation Menu</h4>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <tr><td><a href="/">Home</a></td></tr>
          <tr><td><a href="/vehicles">Vehicles</a></td></tr>
          <tr><td><a href="/directions">Directions</a></td></tr>
          <tr><td><a href="/finance">Financing</a></td></tr>
          <tr><td><a href="/meet">Meet the Staff</a></td></tr>
          <tr><td><a href="/testimonials">Testimonials</a></td></tr>
          <tr><td><a class="inner-side-menu" href="/credits">Credit Application</a></td></tr>
          <tr><td><a class="inner-side-menu" href="/policy">Privacy Policy</a></td></tr>
          <tr><td><a href="/contact">Contact Us</a></td></tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn blue-btn btn-vehicles waves-effect waves-light" style="width:100%!important;" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% end %>