<header>
  <nav style="min-height:70px!important;">
    <div class="nav-wrapper z-depth-2">
      <a href="/"><div id="header-img"><%= image_tag "logo2.png"%></div></a>
      <a href="#" data-activates="mobile-demo"  class="button-collapse"><i class="material-icons" >menu</i></a>
      <a class ="header-phone-btn" href="tel:269-324-4285" class="button-collapse"><i class="material-icons">phone</i></a>
      <ul class="right hide-on-med">
        <li>
          <div class="btn-group">
            <a href= "/vehicles"class="btn blue-btn btn-vehicles waves-effect waves-light" >Vehicles</a>
            
          </div>
        </li>
        <li>
          <li id="mobileli"><a href="/directions">Directions</a></li>
          <li id="mobileli"><a href="/finance">Financing</a></li>
          <li id="mobileli"><a href="/meet">Meet the Staff</a></li>
          <li id="mobileli"><a href="/testimonials">Testimonials</a></li>
          <li id="mobileli"><a href="/contact">Contact Us</a></li>
          <% if admin_signed_in? %>
          <li style="margin-right:4px;"><%= link_to('Logout', destroy_admin_session_path, :method => :delete,  :style=>" color:white!important;", :class=>"btn  blue-btn waves-effect waves-teal",:style=>"margin-left:1px; background-color:#eceff1!important;" ,:id=>"logout-btn") %> </li>
          <% end %>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo" style="visibility:none!important;">
        <li><a href="/vehicles">Vehicles</a></li>
        <li><a href="/directions">Directions</a></li>
        <li><a href="/finance">Financing</a></li>
        <li><a href="/meet">Meet the Staff</a></li>
        <li><a href="/testimonials">Testimonials</a></li>
        <ul>
          <li class="divider inner-side-menu-div"></li>
          <li><a class="inner-side-menu" href="/credits">Credit Application</a></li>
          <li><a class="inner-side-menu" href="/policy">Privacy Policy</a></li>
        </ul>
        <li><a href="/contact">Contact Us</a></li>
        
      </ul>
    </div>
  </nav>
</header>