<div class="col-lg-4">
	<div class="panel panel-default hours z-depth-2">
		<div class="panel-heading">Hours</div>
		<table class="table">
			<thead>
				<tr>
					<th scope="row">Monday-Friday</th>
					<td>9 am </td>
					<td>to</td>
					<td>7 pm</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">Saturday</th>
					<td>10 am</td>
					<td>to</td>
					<td>4 pm</td>
				</tr>
				<tr>
					<th scope="row">Sunday</th>
					<td>Closed</td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>