<div class="panel panel-default our-info-box z-depth-2" style="margin-top:1vmin!important;">
   <div class="panel-body">
      <table class="table" id="info-table">
         <tbody>
            <tr class='clickable-row table-hover' data-href='/directions' >
               <td>
                  <i class="fa fa-map-marker"></i>
               </td>
               <td >
                  <p>8705 Portage Road<br> Portage, Michigan</p>
               </td>
            </tr>
            <tr>
               <td>
                  <i class="fa fa-phone"></i>
               </td>
               <td>
                  <p><a href="tel:269-324-4285">(269)-324-4285</p></a>
               </td>
            </tr>
            <tr>
               <td>
                  <i class="fa fa-fax"></i>
               </td>
               <td>
                  <p>(269)-324-0067</p>
               </td>
            </tr>
            <tr>
               <td>
                  <i class="fa fa-envelope"></i>
               </td>
               <td>
                  <p><a href="mailto:support@company.com">DealsUnlimitedInc@live.com</a></p>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
<style>
#info-table td{
   border:none!important;
}
input::-webkit-input-placeholder {color: rgba(1, 1, 1, .8) !important;}
input:-moz-placeholder { color: rgba(1, 1, 1, .8) !important;}
input::-moz-placeholder {color: rgba(1, 1, 1, .8) !important;}
input:-ms-input-placeholder {color: rgba(1, 1, 1, .8) !important;}
</style>