<style>
.loading-screen{
z-index:100;
background-color:#fff;
opacity: 0.8 !important;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
margin: auto;
	
}
.preloader-wrapper{
opacity:1!important;
position: absolute !important;
top: 0 !important;
left: 0 !important;
bottom: 0 !important;
right: 0 !important;
margin: auto !important;
}
</style>
<div class="loading-screen" style = "visibility:hidden">
	<div class="preloader-wrapper big active">
		<div class="spinner-layer spinner-blue-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div>