<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @credit_app_locker.name %>
</p>

<%= link_to 'Edit', edit_credit_app_locker_path(@credit_app_locker) %> |
<%= link_to 'Back', credit_app_lockers_path %>
