<div class="panel panel-default" style="border:3px double lightblue;" id="feature-panel">
	<div class="panel-body" >
		
		<div class="selected" style="float:left; max-height:420px;  width:49%!important; overflow-y:scroll!important;">
			
			<ul class="list-group" id="selected-list">
			</ul>
		</div>
		<div class="available" style="float:right; max-height:420px; width:48%!important; overflow-y:scroll!important;">
			<ul  class="list-group" id="available-list"><li class="ui-helper-hidden-accessible" style=""></li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="2 Door" style="">2 Door</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="2WD/Front Wheel Drive" style="">2WD/Front Wheel Drive</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Air Conditioning" style="">Air Conditioning</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="AM FM Radio" style="">AM FM Radio</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="CD Player" style="">CD Player</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Convertible" style="">Convertible</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Dual Air Bags" style="">Dual Air Bags</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Manual Transmission" style="">Manual Transmission</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Power Locks" style="">Power Locks</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Power Steering" style="">Power Steering</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Power Windows" style="">Power Windows</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Tilt Wheel" style="">Tilt Wheel</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="3 Door" style="">3 Door</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="4 Door" style="">4 Door</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="2WD/Rear Wheel Drive" style="">2WD/Rear Wheel Drive</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="4x4" style="">4x4</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="AWD" style="">AWD</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="3rd Row Seating" style="">3rd Row Seating</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Anti Lock Brakes" style="">Anti Lock Brakes</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Adjustable Pedals" style="">Adjustable Pedals</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Automatic Transmission" style="">Automatic Transmission</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Back Up Camera" style="">Back Up Camera</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Bed Liner" style="">Bed Liner</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Blue Tooth" style="">Blue Tooth</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Bose Stereo System" style="">Bose Stereo System</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Bucket Seating" style="">Bucket Seating</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Cassette Player" style="">Cassette Player</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="CD Changer" style="">CD Changer</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Cruise Control" style="">Cruise Control</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Diesel" style="">Diesel</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Driver Side Air Bag" style="">Driver Side Air Bag</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="DVD Entertainment System" style="">DVD Entertainment System</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Extra Truck Cab" style="">Extra Truck Cab</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Factory Brake Control" style="">Factory Brake Control</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Fog Lights" style="">Fog Lights</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Heated Seats" style="">Heated Seats</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="H.U.D.(Heads Up Display)" style="">H.U.D.(Heads Up Display)</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Leather Interior" style="">Leather Interior</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Low Mileage" style="">Low Mileage</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Long Bed" style="">Long Bed</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Luggage Rack" style="">Luggage Rack</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Memory Seats" style="">Memory Seats</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="MP3 Jack" style="">MP3 Jack</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Moon Roof/Sunroof" style="">Moon Roof/Sunroof</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Navigation System" style="">Navigation System</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="New Brakes" style="">New Brakes</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="New Tires" style="">New Tires</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Off Road Package" style="">Off Road Package</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="One Owner" style="">One Owner</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Power Drivers Seat" style="">Power Drivers Seat</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Power Extending Side Mirrors" style="">Power Extending Side Mirrors</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Power Folding 3rd Row Seat" style="">Power Folding 3rd Row Seat</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Power Mirrors" style="">Power Mirrors</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Power Running Boards" style="">Power Running Boards</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Power Seats" style="">Power Seats</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Power Sliding Door" style="">Power Sliding Door</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Power Sliding Doors" style="">Power Sliding Doors</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Power Sliding Rear Window" style="">Power Sliding Rear Window</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Push Button 2WD to 4WD" style="">Push Button 2WD to 4WD</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Rear Air and Heat" style="">Rear Air and Heat</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Rear Power Lift Gate" style="">Rear Power Lift Gate</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Rear Window Defroster" style="">Rear Window Defroster</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Rear Window Wiper" style="">Rear Window Wiper</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Remote Keyless Entry" style="">Remote Keyless Entry</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Running Boards" style="">Running Boards</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Shiftable 2WD to 4WD" style="">Shiftable 2WD to 4WD</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Short Bed" style="">Short Bed</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Side Airbags" style="">Side Airbags</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Side Step Bars" style="">Side Step Bars</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Switchable 2WD to 4WD" style="">Switchable 2WD to 4WD</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Tinted Glass" style="">Tinted Glass</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Toneau Cover" style="">Toneau Cover</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Tow Package" style="">Tow Package</li>
			<li  class=" button red lighten-5  list-group-item" onclick="getPaging(this.innerHTML)" title="Traction Control" style="">Traction Control</li>
			<li  class="red lighten-5 button  list-group-item" onclick="getPaging(this.innerHTML)" title="Truck Cap" style="">Truck Cap</li>
			<li  class=" button red lighten-5  list-group-item" onclick="getPaging(this.innerHTML)" id="1">VCR Entertainment System</li>
		</ul>
	</div>
</div>
</div>
<style>
.listgroup {
border:2px solid black;
}
.listgroup li{
}
#selected-list li{
background-color: #b9f6ca!important;
}
</style>
<script>
window.onload = function fillFeaturesList(){
	var selected =  document.getElementById('vehicle_other_options').value;
	document.getElementById('selected-list').innerHTML = selected;
	sortUnorderedList("available-list", !"desc");
}
</script>
