<section>
  <div class = "container-fluid">
    <div class="row">
      <div class="col-xs-4"id="search">
        <div class="panel panel-default">
          <div class="panel-heading ">
            <div class="panel-title">
            </div>
          </div>
          <%= render 'search_form_for_vehicles' %>
        </div>
      </div>
      <div class="col-xs-7" id = "vehicle-window">
        <div class="panel-body" id="vehicle-container">
          <% @vehicles.each do |vehicle| %>
          <div class="panel panel-default" id="each-vehicle">
            <div class="panel-heading ">
              <div class="panel-title">
                <h5 id="vehicle_title"><%= link_to  vehicle.title, vehicle %></h5>
              </div>
            </div>
            <div class="panel-body" id="vehicle-row" >
              <div class="row">
                <div class="col-xs-5" id="img-col">
                  <% if vehicle.import == 'import' %>
                  <%=  link_to image_tag(vehicle.image_1 , :class=>"img-responsive"),vehicle %>
                  <% else %>
                  <%=  link_to image_tag(vehicle.thumb , :class=>"img-responsive"),vehicle %>
                  <% end %>
                </div>
                <div class="col-xs-4">
                  g
                </div>
                <div class="col-xs-3" id="right-col">
                  g
                </div>
              </div>
            </div>
            <div class="panel-footer ">
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
body{min-height: 100%!important;}
select {display: inline-block!important;}
#vehicle_title a, #vehicle_title{
margin:0 0 0 0!important;
padding:0 0 0 0!important;
}
.footer-distributed{
display: none!important;}
.container-fluid{
margin-top:15vmin!important;}
.dark-panel{
background-color:#292c2f!important;}
#search, #vehicle-window{
max-height:100%!important;
height:100%!important;
top:calc(0px + 11vmin)!important;
bottom:0!important;
}
#search{
position: fixed!important;
float:left;
width:35%;
left:0;
}
#vehicle-container{
padding-top: 0!important;
}
#vehicle-window{
position: absolute!important;
float:right;
width:65%;
right:0;
}
#vehicle-row{
padding:0!important;
}
#vehicle-row .row{
margin:0!important;
}
#img-col{padding-left:0;}
#right-col{padding-left:0;}
/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
#search{
width:25%!important;
}
#vehicle-window{
width:75%!important;
}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}
/* Small Devices, Tablets */
@media only screen and (max-width : 800px) {
#search{
display: none!important;
}
#vehicle-window{
width:100%!important;
left:0!important;
top:calc(0px + 15vmin)!important;
}
#each-vehicle{
  margin-bottom: 0.7rem!important;
}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}
</style>