.panel-heading{
	display: none!important;
}
nav{
	display: none!important;
}

#print{
	
	display: inline-block!important;
}
#showpage{
	display:none!important;
}
label{
	font-size:1.6rem!important; 
}
.container{
	width:100%!important;
}
.footer-vehicles{display: none!important;}
  img{
    max-height: 175px!important;
  }
  hr{
  	margin-top: 0!important;
  	 margin-bottom: 0!important;
  	padding-top: 0!important;
  	padding-bottom: 0!important;

  }
.field-item p{
    font-size: 1.6rem!important;
    line-height: 1.55rem!important;
  }
  .field-item strong{
    font-size: 1.7rem!important;
    line-height: 1.65rem!important;
  }