
.hidden { display: none; }

body{padding-top:1.35rem!important;
background-color: #e7e7e7!important;}
* {text-decoration: none!important;}
#menu-left{
	float:left!important;
	position: absolute!important;
	top:0!important;
	left:0!important;

		max-height:54px!important;
		margin-top: -5.2px !important;
		border-radius:15% !important;
	}

#menu-right{
	float:right!important;
	top:0!important;
	right:0!important;
	display:absolute!important;
}

.header-phone-btn {
float:right;
display: block;
height: 100%;
margin: 0 auto;
margin-right: 10px;
}
.button-collapse{
float:right!important;
margin-right:4px;
}
.panel-heading{
      background-color: #292c2f !important;
      color:white!important;
}

.footer-distributed {
    display: none!important;
}
.footer-vehicles {
    max-height: 5%!important;
    height: 5%!important;
    bottom: 0;
    position: fixed!important;
    padding: 1rem;
    padding-top: 0.1rem!important;
    padding-left: 0.15rem!important;
    background-color: #292c2f !important;
    line-height: 50px!important;
    width: 100%;
}
.footer-vehicles h5 {
    float: right!important;
    color: #ffffff!important;
    margin: 0.3rem 0.2rem 0.3rem 0.2rem;
    padding: 0.1rem!important;
    font: normal 36px 'Cookie', cursive!important;
    font-size: 3.5vmin!important;
}
.footer-vehicles h4 {
    float: left!important;
    color: #ffffff!important;
    margin: 0.3rem 0.2rem 0.3rem 0.2rem;
    padding: 0.1rem!important;
    font: normal 36px 'Cookie', cursive!important;
    font-size: 3.5vmin!important;
}
.footer-vehicles h4 span {
    color: #5383d3!important;
}


@media (max-width: 750px){
	
  .header-img img{
    max-width: 70px!important;
    width:70px!important;
    
  }
  nav{
  		min-width: 40px!important;
  		width:70px!important;
  }

#printbutton{
  display: none!important
}
}


@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}