#vehicle_title {
    font-family: 'Black Ops One', cursive;
    font-size: 3.5vmin;
    a {
        color: #5383d3!important;
    }
}
#vehicles {
    height: 83%;
    margin-bottom: 7%!important;
    float: right;
}
#vehicle_col {
    overflow-y: scroll!important;
    overflow-x: hidden!important;
    height: 90%!important;
}
#vehicle_window_table {
    margin-bottom: 0;
    td {
        margin-top: 0.2vmin;
        margin-bottom: 0.2vmin;
        padding: .25vmin;
        font-size: 1.6vmin!important;
        label {
            font-size: 1.5vmin!important;
        }
    }
    tr:nth-child(even) {
        background: white!important;
    }
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
#vehicle-search-box {
    input#q_model_cont, input#q_kind_cont {
        width: 98.3%!important;
        max-width: 98.3%!important;
    }
}
.sort_link {
    height: 100%!important;
}
#search_col {
    float: left;
    position: fixed;
}
.vehicle_each {
    margin-bottom: .3vmin!important;
}
#veh_thumb {
    max-width: 100%;
    height: auto;
}
#index_container {
    width: 100%;
    height: 100%;
    margin-top: 92px;
    padding-left: 0;
    padding-right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}
.price_tag {
    color: #5383d3!important;
    font: normal 7vmin 'Cookie', cursive!important;
    text-align: center;
    white-space: nowrap;
}
.carfax {
    img {
        float: right;
    }
}
#vehicle_panel_heading {
    background: none!important;
    height: auto;
    padding: 0;
    margin: 0;
}
.admin_btn {
    margin-top: -0.5vmin;
}
.vehicle_each {
    .panel-title h5 {
        margin: 0;
    }
}
.vehicle_panel {
    height: 100%;
}
.pending-banner {
    background: #eee!important;
    margin-bottom: .5vmin!important;
    padding-top: 1.2vmin!important;
}
.caption h4 {
    font-family: 'Black Ops One', cursive;
    font-size: 3vmin!important;
    color: #5383D3 !important;
    padding-bottom: 2px!important;
    -webkit-font-smoothing: antialiased;
}
.caption {
    padding-left: 0!important;
    padding-right: 0!important;
    padding-bottom: 0!important;
    width: 100%;
    bottom: 0;
    position: absolute;
}
.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    height: auto;
    max-width: 100%;
}
#veh_col_1 {
    padding-right: 0;
    height: inherit;
}
#vehicle_mobile_search,
#vehicle_footer {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
}
#mobile-search-form {color: white;}
@media (max-width: 800px) {
    #vehicles {
    padding:0!important;
    height: 77%;
}
.thumbnail{
	padding:0;
	background:none;
}
#price_tag_td{
	border:none;
	background:white;
}

#index_container {

    margin-top: 78px;

}
#vehicle_col{
	padding:0!important;
}
#vehicle_body{padding:0;}
.pagination li{font-size: 2vmin!important;}
.price_tag{font-size:8vmin!important; margin:0.3vmin;}
.vehicle_panel img{
max-height:auto!important;
height:auto!important;
width:auto!important;
max-width:100%!important;
}
}


@media (max-width: 1050px) {
    #vehicles {
        width: 100%;
    }
    #vehicle_footer,
    .admin_btn,
    #search_col,
    #vehicle_window_table td:nth-child(0),
    #vehicle_window_table td:nth-child(4),
    #vehicle_window_table td:nth-child(3),
    .carfax {
        display: none!important;
    }
    #vehicle_window_table td {
        white-space: nowrap;
        font-size: 2vmin!important;
        padding: 0.2vmin;
    }
}
@media (min-width: 1350px) {
	    #vehicle_window_table td {
        padding: 1vmin!important;
    }
}