<center>
<ul class="pagination">
    <li style="padding:0!important;" class="sort_link font-size:0.8rem!important;">
        <a type="button"class="sort_link waves-effect" href="vehicles?class=blue-btn&q%5Bs%5D=created_at+desc" id="new-btn">New Arrivals</a>
    </li>
    <li id="price-btn" class="sort_link waves-effect">
        <%= sort_link(@q, :price, :class=>"blue-btn") %>
    </li>
    <li id="year-btn" class="sort_link waves-effect">
        <%= sort_link(@q, :year, :class=>"blue-btn") %>
    </li>
    <li id="mileage-btn" class="sort_link waves-effect">
        <%= sort_link(@q, :mileage, :class=>"blue-btn") %>
    </li>
    <li class="sort_link">
        <a type="button"class="sort_link  waves-effect" href="/vehicles?utf8=%E2%9C%93&q%5Bkind_cont%5D=ar&=&commit=Search" id="car-btn">Cars</a>
    </li>
    <li class="sort_link">
        <a type="button" class="sort_link  waves-effect"  href="/vehicles?utf8=%E2%9C%93&q%5Bkind_cont%5D=ruck&=&commit=Search"id="truck-btn">Trucks</a>
    </li>
    <li class="sort_link">
        <a type="button" class="sort_link  waves-effect"  href="/vehicles?utf8=%E2%9C%93&q%5Bkind_cont%5D=uv&=&commit=Search" id="suv-btn">SUVs</a>
    </li>
    <li class="sort_link">
        <a type="button" class="sort_link  waves-effect"  href="/vehicles?utf8=%E2%9C%93&q%5Bkind_cont%5D=an&=&commit=Search" id="van-btn">Vans</a>
    </li>
</ul>
</center>