<div class="container">
  <div class="ro  w">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-8">
      <div class="panel panel-default z-depth-4" style="border-color:#ccc;">
        <div class="panel-heading panel-black" id="meet-heading">
          <div class="panel-title" id="meet-title">
            <h5>VIN Lookup
            </h5>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <label style="  color:black!important;">VIN:</label>
              <input type="text" id="vin_num" placeholder="Paste or Type VIN here... ">
            </div>
          </div>
          
        </div>
        <div class="panel-footer panel-black">
          <button type="button" onclick="lookup()" class="btn blue" style="width:100%!important;">Go</button>
          <a href = "" id="href">click me</a>
        </div>
      </div>
    </div>
    <div class="col-xs-2">
    </div>
  </div>
</div>
<style>
#meet-title, #meet-title h4{margin:0!important;}
#meet-heading{}
#headshot-thumb img{
max-width: 500px!important;
border-radius:100%!important;
}
input{border:1px solid black!important;}
header, footer{
  display: none!important;

}
</style>
<script>
function lookup(){
var currentVin = document.getElementById('vin_num').value.trim();
var readyLink = "http://www.carfax.com/VehicleHistory/p/Report.cfx?partner=WDB_0&vin"+"="+currentVin;
document.getElementById('href').href = readyLink.trim();
}
</script>